.form__input--div {
    display: flex;
    flex-direction: column;
    margin-bottom: 3px;
}

.fishing-spot--form {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 300px;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 5px;
}

.description--input {
    height: 80px;
    resize: none;
    border-radius: 2px;
}

.form__submit--btn {
    margin: 5px;
    border: 0px;
    background-color: antiquewhite;
    box-shadow: 1px 1px 1px black;
    border-radius: 3px;
    transition: all 0.3s;
}

.form__submit--btn:hover {
    background-color: aqua;
    cursor: pointer;
}

.form__submit--btn:active {
    box-shadow: -1px -1px 1px black;
}

.form__input__img--input {
    border: 1px solid black;
    border-radius: 3px;
    background-color: azure;
    padding: 5px 0px 5px 0px;
}

input[type=file]::file-selector-button {
    margin: 5px;
    border: 0px;
    background-color: antiquewhite;
    box-shadow: 1px 1px 1px black;
    border-radius: 3px;
    transition: all 0.3s;
}

input[type=file]::file-selector-button:hover {
    background-color: aqua;
    cursor: pointer;
}

input[type=file]::file-selector-button:active {
    box-shadow: -1px -1px 1px black;
}

.errors {
    color: red;
    min-height: 0px;
}

.preview_images--div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.preview_images--img {
    height: 50px;
    width: 50px;
}

.preview_images--btn {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.preview_images_single--div {
    position: relative;
}
