.footer {
    position: relative;
    bottom: 0px;
    background-color: bisque;
    width: 100%;
    height: 50px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.footer__links--div {
    margin-right: 20px;
}

.Homepage__title--h1 {
    margin-top: 50px;
    margin-left: 50px;
}

.Homepage__main--div {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://images.unsplash.com/photo-1520798851880-792b9c61b755?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1021&q=80');
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

.Homepage__content--div {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__fishing-spot--div {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: aquamarine;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}

.home__fishing-spot--div:hover {
    background-color: aqua;
}

.home__fishing-spot-img--div {
    height: 90px;
    width: 125px;
    overflow: hidden;
    padding-right: 10px;
}

.home__fishing-spot--img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.Homepage__main-fishing-spot--div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.links--logo {
    background-size: cover;
    height: 30px;
    width: 30px;
    margin: 5px;
}
