.comment-div {
    border-radius: 5px;
    width: 97%;
    margin: 5px;
    padding: 5px 2px 5px 2px;
    background-color: seashell;
    box-shadow: 1px 1px 3px black;
}

.comment-btns {
    margin: 5px;
    border: 0px;
    width: 100px;
    background-color: aquamarine;
    box-shadow: 1px 1px 1px black;
    border-radius: 3px;
}

.comment-btns:hover {
    background-color: aqua;
}

.comment-btns:active {
    background-color: aqua;
    box-shadow: -1px -1px 1px black;
}

.post-comment-div {
    border-radius: 5px;
    background-color: seashell;
    box-shadow: 1px 1px 3px black;
    margin-bottom: 5px;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-edit--div {
    border-radius: 5px;
    background-color: seashell;
    box-shadow: 1px 1px 3px black;
    padding-top: 5px;
    display: flex;
    align-items: center;
    width: 98%;
    height: auto;
    flex-direction: column;
}

.comment-edit--textarea {
    width: 90%;
    font-size: 16px;
    height: 80px;
    overflow-x: none;
    resize: none;
}

.post-comment-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-comment-textarea {
    height: 100px;
    width: 80%;
    border-radius: 2px;
    overflow-y: auto;
    resize: none;
}

.main-comments-div {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
