.map--div {
    height: 500px;
    width: 500px;
    margin-bottom: 20px;
    border: 5px solid rgba(36, 100, 218, 0.703);
    /* box-shadow: 0px 0px 30px rgb(127, 140, 255); */
    border-radius: 5px;
}

.marker--div {
    height: 10px;
    width: 10px;
    border-radius: 5px;
}

.xtraInfo--div {
    position: relative;
    min-height: 100px;
    width: 100px;
    bottom: 110px;
    box-shadow: 3px 3px 5px grey;
    border-radius: 5px;
    padding-top: 5px;
    background-color: aquamarine;
    z-index: 2;
}

.xtraInfo--desc {
    padding: 5px;
}

.xtraInfo--img {
    width: 100%;
    height: 50px;
}

.xtraInfo--Link {
    text-decoration: none;
    color: black;
}

.newSpot-main--div {
    background-color: aqua;
    box-shadow: 3px 3px 5px black;
    border-radius: 5px;
    height: 60px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;

}

.newSpot--btn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-shadow: 1px 1px 2px black;
    background-color: seashell;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    transition: all 0.3s;
}

.newSpot--btn:hover {
    background-color: aquamarine;
    box-shadow: 2px 2px 3px black;
}

.newSpot--btn:active {
    /* background-color: aqua; */
    box-shadow: -2px -2px 3px black;
}
