.fishing-spot__content--div {
    width: 48vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fishing-spot__main--div {
    display: flex;
    flex-wrap: wrap;
}

.fishing-spot__comments--div {
    width: 48vw;
    height: 500px;
}

.fishing-spot-img--div {
    height: 300px;
    width: 400px;
    border-radius: 5px;
    overflow: hidden;
}

.fishing-spot-img--img {
    height: 100%;
    width: 100%;
}

.fishing-spot__title--div {
    display: flex;
    flex-direction: column
}

.fishing-spot__content--div {
    display: flex;

}

.edit-delete--btn {
    margin: 5px;
    border: 0px;
    background-color: aquamarine;
    box-shadow: 1px 1px 1px black;
    border-radius: 3px;
}

.edit-delete--btn:hover {
    background-color: aqua;
}

.edit-delete--btn:active {
    box-shadow: -1px -1px 1px black;
}

.user__edit-delete-btn--div {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.fishing-spot__info--div {
    width: 95%;
    border-radius: 5px;
    background-color: seashell;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px black;
}
