.fishing-spot__content--div {
    width: 48vw;
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
}

.fishing-spot__main--div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: azure;
    overflow-x: hidden;
    min-height: 100vh;
    padding-top: 50px;
}

.fishing-spot__comments--div {
    width: 48vw;
    max-width: 600px;
    height: 800px;
    max-height: auto;
    display: flex;
    justify-content: center;
    margin: 10px;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 1px 1px 5px black;
    overflow-y: auto;
    scrollbar-color: aqua;
    padding-bottom: 5px;

}

.fishing-spot__comments--div::-webkit-scrollbar {
    background-color: aqua;
    border-radius: 5px;
}

.fishing-spot__comments--div::-webkit-scrollbar-button:single-button {
    background-color: seashell;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
}

.fishing-spot__comments--div::-webkit-scrollbar-button:single-button:decrement {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #555555 transparent;
}

.fishing-spot__comments--div::-webkit-scrollbar-button:single-button:decrement:hover {
    border-color: transparent transparent #777777 transparent;
}

.fishing-spot__comments--div::-webkit-scrollbar-button:single-button:decrement:active {
    background-color: rgb(209, 201, 196);
}

.fishing-spot__comments--div::-webkit-scrollbar-button:single-button:increment {
    border-width: 8px 8px 0 8px;
    border-color: #555555 transparent transparent transparent;
}

.fishing-spot__comments--div::-webkit-scrollbar-button:single-button:increment:hover {
    border-color: #777777 transparent transparent transparent;
}

fishing-spot__comments--div::-webkit-scrollbar-button:single-button:increment:active {
    background-color: rgb(209, 201, 196);
}

.fishing-spot__comments--div::-webkit-scrollbar-thumb {
    background-color: aquamarine;
    border: 1px 0 1px 0 solid black;
    border-radius: 5px;
    box-shadow: 1px 0 3px black;
}

.fishing-spot__comments--div::-webkit-scrollbar-thumb:hover {
    background-color: rgb(103, 212, 176);
}

.fishing-spot__comments--div::-webkit-scrollbar-thumb:active {
    background-color: rgb(95, 182, 153);
}

.fishing-spot-img--div {
    height: 300px;
    width: 400px;
    border-radius: 5px;
    overflow: hidden;
}

.fishing-spot-img--img {
    height: 100%;
    width: 100%;
}

.fishing-spot__title--div {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.fishing-spot__content--div {
    display: flex;
}

.fishing-spot_description--header {
    padding-top: 10px;
    font-size: 18px;
}

.edit-delete--btn {
    margin: 5px;
    border: 0px;
    background-color: aquamarine;
    box-shadow: 1px 1px 1px black;
    border-radius: 3px;
    transition: all 0.3s;
}

.edit-delete--btn:hover {
    background-color: aqua;
}

.edit-delete--btn:active {
    box-shadow: -1px -1px 1px black;
}

.user__edit-delete-btn--div {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.fishing-spot__info--div {
    width: 95%;
    border-radius: 5px;
    background-color: seashell;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 3px black;
}

.fishing-spot__description {
    margin: 10px;
    width: 90%;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid black;
    /* box-shadow: 1px 1px 3px black; */
    border-radius: 5px;
}
