.fishing-spot__content--div {
    width: 50vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fishing-spot-img--div {
    height: 300px;
    width: 400px;
}

.fishing-spot-img--img {
    height: 100%;
    /* width: 100%; */
}

.fishing-spot__title--div {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;

}

.fishing-spot__content--div {
    display: flex;

}

.user__edit-delete-btn--div {
    display: flex;
    flex-direction: column;
    width: 400px;
}
