.signup__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 5px;
}

body {
    overflow: hidden;
}

.signup__main--div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url('https://images.unsplash.com/photo-1495293453185-532fbd0a872c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2090&q=80');
}

.signup__submit--btn {
    text-decoration: none;
    height: 20px;
    width: 70px;
    background-color: aquamarine;
    margin: 5px;
    display: flex;
    justify-content: center;
    border: 0px;
    border-radius: 3px;
    transition: all 0.3s;
}

.signup__submit--btn:hover {
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
    background-color: aqua;
}

.signup__submit--btn:active {
    box-shadow: -2px -2px 2px black;
}

.signup__main--h1 {
    margin-top: 200px;
    color: white;
}

.signup__form--label {
    width: 100%;
    display: flex;
    flex-direction: column;
}
