.profile-dropdown {
  position: absolute;
  background-color: antiquewhite;
  top: 35px;
  right: 20px;
  padding: 10px;
  height: 65px;
  width: auto;
  border-radius: 5px;
}

.profile__dropdown__logout--btn {
    text-decoration: none;
    height: 20px;
    width: 70px;
    background-color: aquamarine;
    margin: 5px;
    display: flex;
    justify-content: center;
    border: 0px;
    border-radius: 3px;
    transition: all 0.3s;
    font-family: 'Merienda', cursive;
}

.profile__dropdown__logout--btn:hover {
    box-shadow: 1px 1px 2px black;
    background-color: aqua;
    cursor: pointer;
}

.profile__dropdown__logout--btn:active {
    box-shadow: -1px -1px 2px black;
}

.navbar__main--div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100vw;
    box-shadow: 1px 0px 3px black;
    background-color: aquamarine;
}

.navbar--navlinks-div {
    display: flex;
}

.navbar--site-title-h4 {
    padding: 0px 10px 0px 10px;
    font-family: 'Merienda', cursive;
}

.navbar--navlink {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Merienda', cursive;
    height: 20px;
    width: 70px;
    background-color: antiquewhite;
    margin: 5px;
    display: flex;
    justify-content: center;
    border: 0px;
    border-radius: 3px;
    padding: 10px;
    color: black;
    transition: all 0.3s;
}

.navbar-signup--navlink {
    margin-right: 25px;
}

.navbar--navlink:hover {
    background-color: aqua;
    cursor: pointer;
}

.navbar--navlink:active {
    color: black;
}

.navbar__profile--btn {
    height: 20px;
    width: 40px;
    background-color: antiquewhite;
    margin: 5px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-radius: 3px;
    transition: all 0.3s;
}

.navbar__profile--btn:hover {
    box-shadow: 1px 1px 2px black;
    background-color: aqua;
    cursor: pointer;
}

.navbar__profile--btn:active {
    box-shadow: -1px -1px 2px black;
}
