.profile-dropdown {
  position: absolute;
  background-color: antiquewhite;
  top: 35px;
  right: 20px;
  padding: 10px;
  height: 65px;
  width: auto;
  border-radius: 5px;
}

.profile__dropdown__logout--btn {
    text-decoration: none;
    height: 20px;
    width: 70px;
    background-color: aquamarine;
    margin: 5px;
    display: flex;
    justify-content: center;
    border: 0px;
    border-radius: 3px;
}

.profile__dropdown__logout--btn:hover {
    box-shadow: 2px 2px 2px black;
}

.navbar__main--div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    width: 100vw;
    box-shadow: 1px 0px 3px black;
    background-color: aquamarine;
}

.navbar--navlink {
    text-decoration: none;
    font-weight: bold;
    height: 20px;
    width: 70px;
    background-color: antiquewhite;
    margin: 5px;
    display: flex;
    justify-content: center;
    border: 0px;
    border-radius: 3px;
    color: black;
}

.navbar-signup--navlink {
    margin-right: 25px;
}

.navbar--navlink:hover {
    box-shadow: 2px 2px 2px black;
    background-color: aqua;
}

.navbar--navlink:active {
    box-shadow: -2px -2px 2px black;
    color: black;
}

.navbar__profile--btn {
    height: 20px;
    width: 40px;
    background-color: antiquewhite;
    margin: 5px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    border-radius: 3px;
}

.navbar__profile--btn:hover {
    box-shadow: 2px 2px 2px black;
    background-color: aqua;
}

.navbar__profile--btn:active {
    box-shadow: -2px -2px 2px black;
}
