.login__modal {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 250px;
    align-items: center;
    background-color: antiquewhite;
}

.login__modal--form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
}

.login--btn {
    text-decoration: none;
    height: 20px;
    width: 70px;
    background-color: aquamarine;
    margin: 5px;
    display: flex;
    justify-content: center;
    border: 0px;
    border-radius: 3px;
}

.login--btn:hover {
    box-shadow: 2px 2px 2px black;
}

.login--btn:active {
    box-shadow: -2px -2px 2px black;
}
